# Google Apps Script Web App Deployment URL
# Instructions: Paste your deployed Google Apps Script URL below
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbztn286UPANnUSaXKgiulMk1H5aj0uShWo2Ho3DMFwKDGqjbAJ_oDcp1PUF-ecalHW1yA/exec